@{
    ViewBag.Title = "About iDea";
}
<h2>@ViewBag.Title</h2>
<h2><center><b>Spread your ideas</b></center></h2>

<p>  
    <br />
    <br />
    <h4 style = "font: verdana">Trusted by millions of people from all over the world, IDea is the easy, flexible, and visual way to manage your ideas and organize them.</h4>

    <h3>Every visionary can create  idea... </h3> 
    <h4>...and spread it to the world. Your ideas can be commented and voted by another users.</h4>
    <h3>The IDea is a place for investors! </h3> 
    <h4>Ideas can be listed  and cateogrized so that everyone can find interesting ideas in his area.</h4>

</p>

