@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<h4>
    <address>
    EMSE <br />
    Campus de Montegancedo<br />

    </address>
</h4>

<address>
    <strong>Responsible:</strong> Ana M Moreno   <a href="mailto:ammoreno@fi.upm.es">ammoreno@fi.upm.es</a><br />
    <strong>Project Manager:</strong> Fernando <a href="mailto:gabifa@gmail.com"> gabifa@gmail.com </a> <br />
</address>