@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iDea</h1>
    <p class="lead">iDea is a place where you can spread your ideas worldwide</p>
    <p><a href=About class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Register and get access to a platform with millions of inspiring and innovative ideas!
        </p>
        <p>
            @Html.ActionLink("Register now", "Register", "Account", null, new { @class="btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Create a new idea!</h2>
        <p>Share your idea with the worlds! Let it live in the minds of others!</p>
        <p>
            @Html.ActionLink("Create a new idea", "Create", "IdeaEntry", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Find new ideas!</h2>
        <p>Tap into the vast storage of ideas on our platform! Get inspiration for your doings or share our own!</p>
        <p>
            @Html.ActionLink("Show ideas", "Index", "IdeaEntry", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>